<?xml version="1.0" encoding="utf-8"?>

<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

    <targets>
        <target xsi:type="File" name="logfile" fileName="${basedir}\log\log.log"
                layout="${longdate} ${level} ${message} ${all-event-properties} ${exception:format=tostring}" />
        <target xsi:type="ColoredConsole" name="logconsole"
                layout="${message} ${all-event-properties} ${exception:format=tostring}">
            <highlight-row condition="contains('${level}','INFO')" foregroundColor="Yellow" />
            <highlight-row condition="contains('${level}','DEBUG')" foregroundColor="Green" />
            <highlight-row condition="contains('${level}','ERROR')" foregroundColor="Red" />
            <highlight-row condition="contains('${level}','TRACE')" foregroundColor="DarkRed" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile, logconsole" />
    </rules>
</nlog>